<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ade.history.mapper.MenuMapper">

    <!--根据商品名称查询商品信息-->
    <select id="listMenu" statementType="STATEMENT" resultType="java.util.Map" parameterType="java.lang.String">
        WITH parent as (
            SELECT
                id, name, icon, url
            FROM
                menu
            WHERE
                parent_id is null
        ),
        children as (
            SELECT
                CONCAT("{\"id\":", id,
                     ",\"name\":\"", name,
                     "\",\"icon\":", case when icon is null then "\"\"" else icon end,
                     ",\"url\":\"", url,
                     "\",\"parentid\":\"", parent_id, "\"}"
                ) a,
                parent_id
            FROM
                menu
            WHERE
                parent_id is not null
        ),
        tmp as (
            SELECT
                parent_id, GROUP_CONCAT(a) a
            FROM
                children
            GROUP BY 1
        )
        SELECT
            p.id, p.name, p.icon,p.url,
            concat("[",case when c.a is null then "" else c.a end,"]") children
        FROM
            parent p
        LEFT JOIN tmp c
        ON p.id = c.parent_id
        ORDER BY 5
    </select>
    <select id="getMenus" statementType="STATEMENT" resultType="java.util.Map">
        select
            id, name, icon, url, parent_id parentid
        FROM
            menu
    </select>
    <update id="updateData" statementType="STATEMENT">
        UPDATE
            menu
        SET
            icon = '${icon}',
            <if test="url != null">url = '${url}',</if>
            <if test="parentid != 0">parent_id = ${parentid},</if>
            name = '${name}'
        WHERE
            id = ${id}
    </update>

</mapper>